<label class="file-label">
  <%= @form.file_field @attr,
                       class: @options[:input][:class],
                       data: @options[:input][:data]
  %>

  <span class="file-cta">
    <span class="file-icon">
      <%= render FontAwesome::Icon::FasComponent.new 'paperclip' %>
    </span>

    <span class="file-label">
      <%= @attr.to_s.titleize %>
    </span>
  </span>

  <%= tag.span @filename, class: @options[:filename][:class], data: @options[:filename][:data] %>
</label>
