<div class="block pt-6">
  <i class="fas fa-check-circle fa-7x has-text-success is-block has-text-centered"></i>
</div>

<p class="subtitle mb-6 mx-auto has-text-centered"><%= content %></p>

<div class="buttons is-centered pb-3">
  <%= render Layout::AuxiliaryPanel::Buttons::CloseComponent.new text: 'Continue', color: :success %>
</div>