<%= turbo_stream.update :auxiliary_panel do %>
  <div class="block">
    <h1 class="title">Edit Ingredient</h1>
    <p class="subtitle is-6">for <strong><%= @recipe.name %></strong></p>
  </div>

  <%= render 'form', recipe: @recipe, recipe_ingredient: @recipe_ingredient, edit: true %>
<% end %>