<% recipe ||= nil %>
<div class="buttons">
  <%= link_to new_cookbook_recipe_path(format: :turbo_stream),
              class: 'button is-success',
              data: {
                turbo_frame: :auxiliary_panel,
                action: 'click->main-ux#deployModal'
              } do %>
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
  <% end %>
  <% if recipe %>
    <%= link_to edit_cookbook_recipe_path(recipe, format: :turbo_stream),
                class: 'button is-info',
                data: {
                  turbo_frame: :auxiliary_panel,
                  action: 'click->main-ux#deployModal'
                } do %>
      <span class="icon">
        <i class="fas fa-pen"></i>
      </span>
    <% end %>
    <%= link_to delete_cookbook_recipe_path(recipe, format: :turbo_stream),
                class: 'button is-danger',
                data: {
                  turbo_frame: :auxiliary_panel,
                  action: 'click->main-ux#deployModal'
                } do %>
      <span class="icon">
        <i class="fas fa-trash"></i>
      </span>
    <% end %>
  <% end %>
</div>