@import "app/javascript/stylesheets/actiontext";
@import "app/javascript/stylesheets/addons/fontawesome";
@import "app/javascript/stylesheets/addons/bulma";

body {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 100vh;
  min-height: 100%;

  .navigation {
    max-height: 100vh;
    min-height: 100%;
    z-index: 20;

    .cancel {
      position: absolute;
      z-index: 25;
      bottom: 0;
      left: 0;
    }

    .nav-link {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: center;

      width: 7rem;
      height: 8rem;

      color: $primary-dark;

      &.is-active {
        color: $white;
      }
    }
  }

  .applet {
    overflow: hidden;
    max-height: 100vh;
    min-height: 100%;

    display: grid;
    grid-template-rows: auto min-content;
    grid-template-areas:
            "main-display"
            "controlbar";

    .controlbar {
      grid-area: controlbar;
    }

    .menu-items {
      .preview {
        min-height: 100%;
      }

      .servings {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
      }
    }

    .preview {
      position: relative;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: center;
      border-radius: $radius;
      overflow: hidden;
      min-height: 5rem;
      max-height: 10rem;
      width: 100%;

      &.is-small {
        max-height: 6rem;

        .data {
          justify-content: space-between;
        }
      }

      .data {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-end;

        &.has-shadow {
          text-shadow: 0 0 5px $grey-dark;
        }
      }
    }

    .main-display {
      position: relative;
      grid-area: main-display;
      max-height: 100%;
      overflow-y: auto;

      .side-panel {
        z-index: 20;

        display: inline-flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        align-items: flex-end;

        background-color: transparent;

        min-width: min-content;

        position: absolute;
        top: 0;
        left: 0;

        .side-panel-body {
          flex-grow: 1;
          overflow-x: hidden;
          overflow-y: auto;
        }

        &.is-expanded {
          right: 0;
          bottom: 0;
          background-color: $link-light;
        }
      }

      .resource-container {
        overflow-y: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        &.recipe, &.diet {
          .header {
            position: relative;

            display: flex;
            flex-flow: row nowrap;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            min-height: 15vh;
            max-height: 30vh;

            .header-content {
              height: 100%;
              width: 100%;

              &.has-cover-image {
                height: min-content;
                margin-top: auto !important;
                padding-top: 0 !important;
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;

                text-shadow: 0 0 5px $grey-dark;
              }
            }
          }
        }
      }

      .calendar {
        width: 100%;
        display: grid;
        grid-template-rows: min-content min-content min-content;
        grid-template-areas:
                "calendar-header"
                "calendar-content"
                "calendar-control";

        .calendar-header {
          display: grid;
          grid-area: calendar-header;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 0.5rem;

          .day {
            background-color: $link;
            color: $white;
            border-radius: $radius;
            text-align: center;
          }
        }

        .calendar-content {
          display: grid;
          grid-area: calendar-content;
          grid-template-columns: repeat(7, 1fr);
          grid-gap: 0.5rem;

          .day {
            background-color: transparent;
            height: 4rem;
            border-radius: $radius;
            color: $link;

            display: flex;
            flex-flow: column nowrap;
            justify-content: space-between;
            align-items: center;

            .date {
              display: flex;
              align-items: center;
              justify-content: center;
              height: 1.5rem;
              width: 1.5rem;

              &.today {
                border-radius: $radius-rounded;
                background-color: $link;
                color: $white;
              }
            }

            &.is-active {
              background-color: $link;
              color: $white;

              .date.today {
                background-color: $white;
                color: $link;
              }
            }
          }
        }

        .calendar-control {
          grid-area: calendar-control;
        }
      }
    }
  }

  .auxiliary-panel {
    z-index: 40;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 100vh;
    min-height: 100%;

    .auxiliary-panel-background {
      flex-grow: 1;
      opacity: 0.5;
    }

    .auxiliary-panel-content {
      max-height: 90%;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  .control {
    img.rounded-image {
      border-radius: $radius;
      max-height: 40vh;
    }
  }
}