<%= content_for :applet_controls do %>
  <span class="button is-success">
    <span class="icon">
      <i class="fas fa-plus"></i>
    </span>
  </span>
<% end %>

<%= content_for :applet do %>
  <%= render 'applet' %>
<% end %>
