<div class="block">
  <%= render 'cookbook/preparations/controls/edit', recipe: recipe %>
</div>

<% if recipe.preparation.present? %>
  <%= recipe.preparation %>
<% else %>
  <i>Insert a comprehensive and detailed list preparation instructions...</i>
<% end %>